<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="url" value="https://gl-connect2.translations.com/PD"/>
    <add key="username" value="iauro_connect"/>
    <add key="password" value="password1!"/>
    <add key="userAgent" value="ua"/>
    <add key="sourceLanguage" value="en-US"/>
    <add key="targetLanguages" value="de-DE"/>
    <add key="project" value="IAU000195"/>
    <add key="fileFormatProfile" value="DOC"/>
     
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
